<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../stylesheets/reset-css.css">
    <link rel="stylesheet" href="../stylesheets/sidenav.css">
    <link rel="stylesheet" href="../stylesheets/footer.css">
    <link rel="stylesheet" href="../stylesheets/historico.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,800,900&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="../images/logo.png" type="image/x-icon">
    <title>Historico</title>
</head>

<body>

    <div class="sidenav">
        <nav>
            <div class="div-logo">
                <img class="img-logo" src="../images/logo .png" alt="">
            </div>

            <hr>

            <div class="div-menu">
                <ul>
                    <a href="perfil">
                        <li>Perfil</li>
                    </a>
                    <a href="funcionarios">
                        <li>Funcionários</li>
                    </a>
                    <a href="historico">
                        <li class="active">Histórico</li>
                    </a>
                    <a href="dashboard">
                        <li>Voltar</li>
                    </a>
                    <a href="index">
                        <li>Sair</li>
                    </a>
                </ul>
            </div>
        </nav>
    </div>

    <div class="conteudo-principal">

        <main>

            <section>
                <div class="sessao-funcionarios">

                    <img src="../images/historico.jpg" alt="">

                    <h1>Histórico</h1>

                    <hr>
                </div>
            </section>

            <section>

                <div class="funcionario">
                    <img src="../images/user.png" alt="">
                    <h1>Segunda-Feira - 13/04/20</h1>

                </div>

                <div class="dados-funcionario">
                    <div class="div-nome">
                        <h2>Funcionário:</h2>
                        <p>Gustavo Lins</p>
                    </div>

                </div>

            </section>

            <section class="container-alertas">

                <div class="div-alerta">

                    <div class="icon-alerta">
                        <img src="../images/cpu.png" alt="">
                    </div>

                    <div class="info-alerta">

                        <div class="info-processo">
                            <h2>CPU</h2>
                            <p>84.2%</p>
                        </div>

                        <hr>

                        <div class="info-msg">
                            <img src="../images/alert.png" alt="">
                            <p>Alto nível de processamento!</p>
                        </div>

                        <hr>

                        <div class="info-horario">
                            <h2>Horário:</h2>
                            <p>10:30h</p>
                        </div>

                    </div>

                </div>

                <div class="div-alerta">

                    <div class="icon-alerta">
                        <img src="../images/ram.png" alt="">
                    </div>

                    <div class="info-alerta">

                        <div class="info-processo">
                            <h2>Memória</h2>
                            <p>98.2%</p>
                        </div>

                        <hr>

                        <div class="info-msg">
                            <img src="../images/alert.png" alt="">
                            <p>Memória quase cheia!</p>
                        </div>

                        <hr>

                        <div class="info-horario">
                            <h2>Horário:</h2>
                            <p>14:10h</p>
                        </div>

                    </div>

                </div>

            </section>

            <section>

                <div class="funcionario">
                    <img src="../images/user.png" alt="">
                    <h1>Quinta-Feira - 16/04/20</h1>

                </div>

                <div class="dados-funcionario">
                    <div class="div-nome">
                        <h2>Funcionário:</h2>
                        <p>Gustavo Lins</p>
                    </div>

                </div>

            </section>

            <section class="container-alertas">

                <div class="div-alerta">

                    <div class="icon-alerta">
                        <img src="../images/ram.png" alt="">
                    </div>

                    <div class="info-alerta">

                        <div class="info-processo">
                            <h2>Memória</h2>
                            <p>95.8%</p>
                        </div>

                        <hr>

                        <div class="info-msg">
                            <img src="../images/alert.png" alt="">
                            <p>Memória quase cheia!</p>
                        </div>

                        <hr>

                        <div class="info-horario">
                            <h2>Horário:</h2>
                            <p>17:20h</p>
                        </div>

                    </div>

                </div>

            </section>

        </main>

        <footer>
            <div class="container-footer">
                <img src="../images/logo .png" alt="">

                <div class="container-contato">

                    <div class="contato-footer">
                        <h5>Contato</h5>
                        <p>Rua Haddock Lobo 595 <br> contato@easyoffice.com</p>
                    </div>

                    <div class="social-footer">
                        <img src="../images/facebook.png" alt="">
                        <img src="../images/instagram.png" alt="">
                        <img src="../images/youtube.png" alt="">
                    </div>

                </div>
            </div>
        </footer>

    </div>

</body>

</html>