<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    <link rel="stylesheet" href="../stylesheets/reset-css.css">
    <link rel="stylesheet" href="../stylesheets/index.css">
    <link rel="stylesheet" href="../stylesheets/footer.css">
    <link rel="stylesheet" href="../stylesheets/navbar.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,800,900&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="../images/logo.png" type="image/x-icon">
</head>

<body>

    <header class="header">

        <div class="container-width-nav">

            <img src="../images/logo .png" alt="logo">
            <nav>
                <ul>
                    <li><a href="">Home</a></li>
                    <li><a href="sobre">Sobre</a></li>
                    <li><a href="calcule">Calcule</a></li>
                    <li><a href="cadastro">Contrate</a></li>
                </ul>
            </nav>
        </div>

    </header>

    <main>
        <section class="container-top padding">

            <div class="img-top">
                <img src="../images/logo .png" alt="">
            </div>

            <div class="container-infos">
                <div class="title-top">
                    <h1>Gerencie seu escritório com facilidade!</h1>
                </div>

                <img class="img-info" src="../images/mulher-cortada.jpg" alt="">
            </div>

        </section>

        <section class="section-cinza">

            <div class="container-relatorios container-cinza">

                <img src="../images/financas-index.png" alt="">

                <div class="title-relatorios">
                    <h2>Tenha mais controle da sua infraestrutura!</h2>
                    <p>O sistema da Easy Office disponibiliza dados sobre a saúde das máquinas dos funcionários da sua empresa
                        para que você tenha um melhor gerenciamento de infraestrutura!
                    </p>
                </div>

            </div>
        </section>

        <section>

            <div class="container-relatorios">

                <div class="title-relatorios">
                    <h2>Maior organização!</h2>
                    <p>Com a nossa integração com o Telegram, seus funcionários receberão alertas sobre suas atividades 
                        pendentes, dando para o nosso cliente mais controle da sua rotina!
                    </p>
                </div>

                <img src="../images/telegram.png" alt="">

            </div>
        </section>

        <section class="section-relatorios">

            <div class="container-relatorios">
                <img src="../images/computador.jpg" alt="">

                <div class="title-relatorios">
                    <h2>Suas tarefas monitoradas!</h2>
                    <p>A Easy Office oferece um sistema de monitoramento integrado ao Trello, disponibilizando uma
                        dashboard que auxilia na gestão do time!
                    </p>

                    <a href="sobre"><button class="btn-saiba">Saiba mais!</button></a>
                </div>
            </div>

        </section>

        <section id="equipe" class="section-grupo">
            <h1>Conheça nossa equipe</h1>

            <div class="container-grupo">

                <div class="div-info-grupo">
                    <img src="../images/arthur.png" alt="">
                    <p>Arthur</p>
                </div>

                <div class="bottom-img-group div-info-grupo">
                    <img src="../images/daniel.png" alt="">
                    <p>Daniel</p>
                </div>

                <div class="div-info-grupo">
                    <img src="../images/joel.png" alt="">
                    <p>Joel</p>
                </div>

                <div class="bottom-img-group div-info-grupo">
                    <img src="../images/kaique.png" alt="">
                    <p>Kaique</p>
                </div>

                <div class="div-info-grupo">
                    <img src="../images/lucas.png" alt="">
                    <p>Lucas</p>
                </div>

                <div class="bottom-img-group div-info-grupo">
                    <img src="../images/naomi.png" alt="">
                    <p>Naomi</p>
                </div>


            </div>
        </section>

    </main>

    <script type="text/javascript">
        // <![CDATA[
        var ttChatLoaderS = document.createElement('script');
        document.tomticketChatLoaderScriptVersion = 2;
        ttChatLoaderS.src = 'https://easyoffice.tomticket.com/scripts-chat/chat.min.js'
            + '?id=EP46884'
            + '&autoOpen=0'
            + '&hideWhenOffline=0'
            + '&d=easyoffice'
            + '&ts=' + new Date().getTime()
            + '&ref=' + encodeURIComponent(document.URL);
        document.body.appendChild(ttChatLoaderS);
        //]]>
    </script>

    <footer>
        <div class="container-footer">
            <img class="logo-footer" src="../images/logo .png" alt="">

            <div class="container-contato">

                <div class="contato-footer">
                    <h5>Contato</h5>
                    <p>Rua Haddock Lobo 595 <br> contato@easyoffice.com</p>
                </div>

                <div class="social-footer">
                    <img src="../images/facebook.png" alt="">
                    <img src="../images/instagram.png" alt="">
                    <img src="../images/youtube.png" alt="">
                </div>

            </div>
        </div>
    </footer>

</body>

</html>