<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sobre</title>
    <link rel="stylesheet" href="../stylesheets/reset-css.css">
    <link rel="stylesheet" href="../stylesheets/sobre.css">
    <link rel="stylesheet" href="../stylesheets/footer.css">
    <link rel="stylesheet" href="../stylesheets/navbar.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,800,900&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="../images/logo.png" type="image/x-icon">
</head>

<body>

    <header class="header">

        <div class="container-width-nav">

            <img src="../images/logo .png" alt="logo">
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="sobre">Sobre</a></li>
                    <li><a href="calcule">Calcule</a></li>
                    <li><a href="cadastro">Contrate</a></li>
                </ul>
            </nav>
        </div>

    </header>

    <main>

        <section>

            <div class="container-relatorios">

                <div class="title-relatorios">
                    <h2>Gerenciamento de tarefas!</h2>
                    <p>A Easy Office disponibiliza acesso à uma dashboard onde o cliente poderá ver o andamento
                        das tarefas de seus funcionários.
                    </p>
                </div>

                <img class="img-dash" src="../images/print-trello.png" alt="">
            </div>
        </section>

        <section class="section-relatorios">

            <div class="container-relatorios">

                <img src="../images/trello-gif.gif" alt="">

                <div class="title-relatorios">

                    <h2 class="p-branco">Integração ao Trello</h2>
                    <p class="p-branco p-espaco">Nosso sistema é integrado à uma API do Trello que nos disponibiliza dados
                        sobre as tarefas atuais dos funcionários para que possamos criar dashboards para o gestor!
                    </p>
                </div>
            </div>
        </section>

        <section>

            <div class="container-relatorios">

                <div class="title-relatorios">
                    <h2>Controle a sua rotina!</h2>
                    <p>Com a Easy Office fica mais fácil manter um controle das suas tarefas diárias e ficar ligado
                        no seu rendimento! Contrate agora!
                    </p>

                    <a href="cadastro"><button class="btn-saiba">Contrate!</button></a>
                </div>

                <img src="../images/mulher-azul.png" alt="">
            </div>
        </section>

    </main>

    <script type="text/javascript">
        // <![CDATA[
        var ttChatLoaderS = document.createElement('script');
        document.tomticketChatLoaderScriptVersion = 2;
        ttChatLoaderS.src = 'https://easyoffice.tomticket.com/scripts-chat/chat.min.js'
            + '?id=EP46884'
            + '&autoOpen=0'
            + '&hideWhenOffline=0'
            + '&d=easyoffice'
            + '&ts=' + new Date().getTime()
            + '&ref=' + encodeURIComponent(document.URL);
        document.body.appendChild(ttChatLoaderS);
                //]]>
    </script>



    <footer>
        <div class="container-footer">
            <img src="../images/logo .png" alt="">

            <div class="container-contato">

                <div class="contato-footer">
                    <h5>Contato</h5>
                    <p>Rua Haddock Lobo 595 <br> contato@easyoffice.com</p>
                </div>

                <div class="social-footer">
                    <img src="../images/facebook.png" alt="">
                    <img src="../images/instagram.png" alt="">
                    <img src="../images/youtube.png" alt="">
                </div>

            </div>
        </div>
    </footer>

</body>

</html>