/* sessão relatórios */

.section-relatorios {
    background-color: #037EC5;
}
.container-relatorios {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    align-items: center;
}

.container-relatorios img {
    width: 550px;
}

.img-dash {
    z-index: -1;
    margin: 60px auto;
}

.title-relatorios h2 {
    font-weight: 700;
    font-size: 50px;
    line-height: 1.2em;
    margin: 0 0 15px 0;
}

.title-relatorios p {
    font-size: 20px;  
    line-height: 1.4em;
    margin: 0 20px 0 0;
}

.p-branco {
    color: white;
}

.btn-saiba {
    height: 25px;
    margin: 10px 0 10px 0;
    color: white;
    background-color: #4048DB;
    border-radius: 5px;
    font-family: Montserrat;
    outline: 0;
}

@media (max-width: 425px) {
    .container-relatorios {
        display: block;
        max-width: 300px;
        margin: 10px auto;
    }

    .container-relatorios img {
        width: 100%;
    }

    .title-relatorios h2 {
        padding: 20px 0;
        font-size: 40px;
    }
}

@media (max-width: 768px) and (min-width: 426px) {
    .container-relatorios {
        display: block;
        max-width: 300px;
        margin: 10px auto;
    }

    .container-relatorios img {
        width: 100%;
    }

    .title-relatorios h2 {
        padding: 20px 0;
    }
}

@media (max-width: 832px) and (min-width: 767px) {
    .container-relatorios {
        display: block;
        max-width: 780px;
        margin: 20px auto;
    }

    .title-relatorios h2 {
        padding: 20px;
    }
}

@media (min-width: 425px) and (max-width: 550px) {
    .container-relatorios {
        max-width: 400px;
        margin: 20px auto;
    }
}

@media (min-width: 551px) and (max-width:710px) {
    .container-relatorios {
        max-width: 600px;
        margin: 20px auto;
    }
}

@media (min-width: 833px) and (max-width:945px) {
    .container-relatorios {
        max-width: 850px;
        margin: 20px auto;
    }
}

@media (min-width: 946px) and (max-width:1199px) {
    .container-relatorios {
        max-width: 930px;
        margin: 20px auto;
    }
}

@media (max-width: 380px) {
    .container-relatorios {
        max-width: 300px;
        margin: 20px auto;
    }
}
